@import "tailwindcss";

:root {
    /* --color-background: #1F2A44; */
    /* --color-text: #EDEDED;
    --color-accent: #3FC1C9; */
    
    --color-background: #EBF4F6;
    --color-text: #071952;
    --color-assist: #737373;
    --color-accent: #37B7C3;
    --color-foreground: #171717;
    
    /* --color-background: #DDDAD0;
    --color-text: #40401b;
    --color-accent: #57564F;     */

    /* --color-accent: #F8F3CE; */
    /* --color-primary: #8B1E3F; */
}

@theme inline {
    --font-pretendard: var(--font-pretendard);
    --color-background: var(--color-background);
    --color-foreground: var(--color-foreground);
    --color-text: var(--color-text);
    --color-assist: var(--color-assist);
    --color-accent: var(--color-accent);
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-background: #1F2A44;
        --color-foreground: #ededed;
    }
}

body {
    background: var(--color-background);
    color: var(--color-foreground);
    font-family: var(--font-pretendard), sans-serif;
}

@layer components {
    .section-base {
        @apply flex flex-col justify-center items-center px-6 md:px-0 max-w-3xl mx-auto h-screen text-text snap-start;
    }

    .section-title {
        @apply text-xl font-semibold  mb-4 h-6
    }
}